{% if lista_productos %}
    <h2>Nuestra Gran Lista De Productos:</h2>
    <ul>
    {% for producto in lista_productos %}
        <li>
            <a href="/productos/{{ producto.id_producto }}/">{{ producto.id_producto }}</a>
        </li>
        <li>
            <strong>Nombre: </strong>{{ producto.nombre }}
        </li>
        <li>
            <strong>Precio: </strong>{{ producto.precio }}
        </li>
        <li>
            <strong>Unidades: </strong>{{ producto.unidades }}
        </li>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <h1 style="color: red">No hay productos disponibles.</h1>
{% endif %}